version: '3.8'
services:
  cdp4_db:
    image: rheagroup/cdp4-database-community-edition:latest
    shm_size: 2gb
    hostname: cdp4-postgresql
    command: postgres -c max_locks_per_transaction=1024
    environment:
      - POSTGRES_PASSWORD=${DB_POSTGRESPASSWORD}
      - POSTGRES_USER=postgres
    networks:
      cdp4:
        aliases:
          - cdp4-postgresql
    container_name: cdp4-database-community-edition
    restart: always
    ports:
      - '${DB_HOSTPORT}:5432'
    expose:
      - '5432'
    volumes:
      - cdpdbvolume:/var/lib/postgresql/data
      - cdpdblogs:/logs
  
  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    restart: always
    ports:
      - 15672:15672
      - 5672:5672
    networks:
      - cdp4
    volumes:
      - 'rabbitmq_data:/data'

networks:
  cdp4:

volumes:
  cdpdbvolume:
  cdpdblogs:
  rabbitmq_data: